# Logger Configuration
LOGGER_LEVEL=info

# Kafka Configuration
KAFKA_BROKERS=localhost:9092

# Kafka Consumer Configuration (OrderPaid)
ORDER_PAID_CONSUMER_TOPIC=order-paid
ORDER_PAID_CONSUMER_GROUP_ID=assembly-service

# Kafka Producer Configuration (OrderAssembled)
ORDER_ASSEMBLED_PRODUCER_TOPIC=ship-assembled
