# Logger Configuration
LOGGER_LEVEL=info

# Kafka Configuration
KAFKA_BROKERS=localhost:9092

# Kafka Consumer Configuration (OrderPaid)
ORDER_PAID_CONSUMER_TOPIC=order-paid
ORDER_PAID_CONSUMER_GROUP_ID=notification-service-paid

# Kafka Consumer Configuration (ShipAssembled)
ORDER_ASSEMBLED_CONSUMER_TOPIC=ship-assembled
ORDER_ASSEMBLED_CONSUMER_GROUP_ID=notification-service-assembled

# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=TELEGRAM_BOT_TOKEN
TELEGRAM_BOT_CHAT_ID=TELEGRAM_BOT_CHAT_ID
