<b>🚀 Ваш заказ собран!</b>

<b>Информация о доставке:</b>
• <b>Заказ:</b> {{.OrderUUID}}
• <b>Пользователь:</b> {{.UserUUID}}
• <b>Время сборки:</b> {{.BuildTimeSec}} сек

Ваш заказ готов к доставке!
