<b>💳 Платеж успешно обработан</b>

<b>Информация о платеже:</b>
• <b>Заказ:</b> {{.OrderUUID}}
• <b>Пользователь:</b> {{.UserUUID}}
• <b>Метод оплаты:</b> {{.PaymentMethod}}
• <b>Транзакция:</b> {{.TransactionUUID}}

Спасибо за вашу покупку!
